<div class="container">
    <section class="row">
        <header>
            <h1 class="item-text">ADD ITEM TO LIST</h1>
            <form>
                <input class="form-control" placeholder="" ng-model="newItem" autofocus>
				<div class="form-group col-lg-2 col-xs-12">
					<select class="form-control input-lg" id="category" ng-model="dropDown" ng-change="addItem()" placeholder="">
					  <option>Select Category</option>
					  <option value="Bakery">Bakery</option>
					  <option value="Drinks">Drinks</option>
					  <option value="Cheese/Meat">Cheese/Meat</option>
					  <option value="Frozen">Frozen</option>
					  <option value="Fruit/Vegetables">Fruit/Vegetables</option>
					  <option value="Paper/CleaningProds">Paper/Cleaning Products</option>
					  <option value="Snacks/Chips/Candy">Snacks/Chips/Candy</option>
					  <option value="Other">Other</option>
					</select>
				</div>
            </form>
        </header>
        <section ng-hide="bakery.length === 0">
            <h3>Bakery</h3>
            <div class="list-group">
                <div ng-repeat="item in bakery track by $index" class="list-group-item">
                    <div class="view">
                        <button class="btn btn-danger pull-right" ng-click="removeItem(item)">X</button>
                        <label class="item-list">{{item.title}}<br></label><br>
                    </div>
                </div>
            </div>
        </section>
		<section ng-hide="drinks.length === 0">
            <h3>Drinks</h3>
            <div class="list-group">
                <div ng-repeat="item in drinks track by $index" class="list-group-item">
                    <div class="view">
                        <button class="btn btn-danger pull-right" ng-click="removeItem(item)">X</button>
                        <label class="item-list">{{item.title}}<br></label><br>
                    </div>
                </div>
            </div>
        </section>
		<section ng-hide="cheeseMeat.length === 0">
            <h3>Cheese/Meat</h3>
            <div class="list-group">
                <div ng-repeat="item in cheeseMeat track by $index" class="list-group-item">
                    <div class="view">
                        <button class="btn btn-danger pull-right" ng-click="removeItem(item)">X</button>
                        <label class="item-list">{{item.title}}<br></label><br>
                    </div>
                </div>
            </div>
        </section>
		<section ng-hide="frozen.length === 0">
            <h3>Frozen</h3>
            <div class="list-group">
                <div ng-repeat="item in frozen track by $index" class="list-group-item">
                    <div class="view">
                        <button class="btn btn-danger pull-right" ng-click="removeItem(item)">X</button>
                        <label class="item-list">{{item.title}}<br></label><br>
                    </div>
                </div>
            </div>
        </section>
		<section ng-hide="fruitVegetables.length === 0">
            <h3>Fruit/Vegetables</h3>
            <div class="list-group">
                <div ng-repeat="item in fruitVegetables track by $index" class="list-group-item">
                    <div class="view">
                        <button class="btn btn-danger pull-right" ng-click="removeItem(item)">X</button>
                        <label class="item-list">{{item.title}}<br></label><br>
                    </div>
                </div>
            </div>
        </section>
		<section ng-hide="paperCleaningProds.length === 0">
            <h3>Paper/Cleaning Products</h3>
            <div class="list-group">
                <div ng-repeat="item in paperCleaningProds track by $index" class="list-group-item">
                    <div class="view">
                        <button class="btn btn-danger pull-right" ng-click="removeItem(item)">X</button>
                        <label class="item-list">{{item.title}}<br></label><br>
                    </div>
                </div>
            </div>
        </section>
		<section ng-hide="snacksChipsCandy.length === 0">
            <h3>Snacks/Chips/Candy</h3>
            <div class="list-group">
                <div ng-repeat="item in snacksChipsCandy track by $index" class="list-group-item">
                    <div class="view">
                        <button class="btn btn-danger pull-right" ng-click="removeItem(item)">X</button>
                        <label class="item-list">{{item.title}}<br></label><br>
                    </div>
                </div>
            </div>
        </section>
		<section ng-hide="other.length === 0">
            <h3>Other</h3>
            <div class="list-group">
                <div ng-repeat="item in other track by $index" class="list-group-item">
                    <div class="view">
                        <button class="btn btn-danger pull-right" ng-click="removeItem(item)">X</button>
                        <label class="item-list">{{item.title}}<br></label><br>
                    </div>
                </div>
            </div>
        </section>
        <button class="logout-button" type="submit" ng-click="logout()">LOGOUT</button><br><br>
    </section>
</div>
